span.src-img {
	display: block !important;
	position: absolute !important;
	z-index: 9999 !important;
	text-align: center !important;
	border: 0px !important;
	text-decoration: none !important;
	border: 0px !important;
}
span.src-img span {
	font-family: 'Helvetica Neue', Sans-Serif !important;
	font-weight: 500 !important;
	line-height: 30px !important;
	display: block !important;
	width: 100px !important;
	height: 100px !important;
	color: #000 !important;
	background: rgba(255,255,255,.3) !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	margin-top: -50px !important;
	margin-left: -50px !important;
	font-size: 25px !important;
	letter-spacing: -3px !important;
	text-align: center !important;
	text-decoration: none !important;
	border: 0px !important;
}
span.src-img span a {
	font-size: 14px !important;
	color: inherit !important;
	letter-spacing: 0 !important;
	line-height: 20px !important;
	text-decoration: none !important;
}
span.src-img:hover span {
	background: rgba(0,0,0,.5) !important;
	color: #FFF !important;
}
span.src-img:hover span a {
	color: inherit !important;
	background: transparent !important;
}

span.src-img span a:hover {
	text-decoration: underline !important;
}

a.src-img-close {
	position: fixed !important;
	display: block !important;
	right: 0px !important;
	top: 0px !important;
	z-index: 9999999999 !important;
	width: 30px !important;
	height: 30px !important;
	line-height: 26px !important;
	text-align: center !important;
	text-decoration: none !important;
	background: #000 !important;
	font-size: 20px !important;
	font-weight: 600 !important;
	color: #FFF !important;
	border: 0px !important;
}
a.src-img-close:hover {
	background: #FFF !important;
	color: #000 !important;
}
